:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--white: hsl(0, 0%, 100%);
	--main-bcg: hsl(217, 54%, 11%);
	--card-bcg: hsl(216, 50%, 16%);
	--dark-blue: hsl(215, 32%, 27%);
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
.flex {
	display: flex;
	justify-content: space-around;
	padding: 0.5rem 0;
}

.flex > p {
	padding-left: 0.5rem;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: var(--main-bcg);
	font-family: 'Outfit', sans-serif;
}
main {
	width: 340px;
	background-color: var(--card-bcg);
	padding: 1rem;
	border-radius: 0.5rem;
}
.active-image {
	position: relative;
}
.active-image > img {
	border-radius: 0.5rem;
}
.view {
	position: absolute;
	width: 100%;
	top: 0;
	background-color: hsl(178, 100%, 50%, 50%);
	z-index: 999;
	opacity: 0;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-in-out;
}

.view:hover {
	cursor: pointer;
	opacity: 1;
}

.container {
	padding: 0.5rem 0;
}
h1 {
	color: var(--white);
	font-size: 1.3rem;
	padding-bottom: 0.5rem;
	font-weight: 500;
}
h1:hover,
.text:hover {
	color: var(--cyan);
}

.container > p {
	font-size: 1.2rem;
	color: var(--soft-blue);
	line-height: 1.3;
	padding-bottom: 0.5rem;
	font-weight: 400;
}
.asset-container {
	display: flex;
	justify-content: space-between;
}
.eth {
	color: var(--cyan);
}
.time {
	color: var(--soft-blue);
}
.line {
	background-color: var(--dark-blue);
	width: 100%;
	height: 1px;
	margin: 0.5rem 0;
}
.person {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.person > img {
	width: 30px;
	height: 30px;
}

.person > p {
	padding-left: 0.5rem;
	color: var(--soft-blue);
	font-weight: 300;
}
.text {
	color: var(--white);
}
@media screen and (max-width: 500px) {
	main {
		width: 320px;
	}
}
